:root {
    --prim: #131312;
    --secon: #1a232f;
    --tert1: #AD6B35;
    --tert2: #a35c32;

    /* candidates for further colors: */
    --quad: #18223f;
    --quad2: #333a44;
    --quad3: #333a44;
}
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Ebrima" , sans-serif;
    outline-offset: 0;
    color: #ddd;
}
::selection {
    background-color: var(--tert2);
}
html {
    background-color: var(--prim);
}
body {
    width: 100vw;
}

header {
    background-image: radial-gradient(at 80% 80%, var(--secon), var(--prim));
    position: relative;
    height: 90vh;
    min-height: 500px;
    overflow: hidden;
}
#header-headlines {
    position: relative;
    top: 60%;
    left: 5%;
    transform: translateY(-50%);
    width: 100%;
    height: 70%;
}
#header-headlines h1 {
    font-size: clamp(60px, 6vmax, 70px);
}
#header-headlines h1:first-child {
    font-size: clamp(70px, 6.5vmax, 80px);
    text-decoration: overline;
    letter-spacing: 1rem;
    opacity: 0;
    transition: transform .3s ease-out, opacity 1s linear;
    transform: translateX(-100px);
}
#header-headlines h1:nth-child(2) {
    opacity: 0;
    transition: transform .4s ease-out, opacity 1s linear;
    transform: translateX(-100px);
}
#header-headlines h1:nth-child(3) {
    opacity: 0;
    transition: transform .5s ease-out, opacity 1s linear;
    transform: translateX(-100px);
}
#header-headlines h1:last-child {
    opacity: 0;
    transition: transform .6s ease-out, opacity 1s linear;
    transform: translateX(-100px);
}
.orange-words {
    color: var(--tert1);
    font-weight: bold;
}
.changing-headline {
    display: inline-block;
    transition: transform .5s linear;
    transform: translateY(0);
    animation: wordChanger .8s linear .6s 2;
}
#qMark {
    opacity: 0;
    transition: opacity .5s ease-in;
}
#header-picture-wrapper {
    position: absolute;
    height: 100%;
    /* width: clamp(380px, 30%, 450px); */
    width: 50%;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity .5s ease-out;
}
.sub-wrapper-relative {
    width: 100%;
    height: 100%;
    position: relative;
}
#pic-me {
    width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
}
#header-circle-frame {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -15%);
    width: 700px;
    height: 700px;
    border: 2px solid var(--prim);
    outline: 25px solid var(--tert1);
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
#circle-frame-content {
    width: 100%;
    height: 100%;
    border: 5px solid var(--tert1);
    background-image: radial-gradient(circle at center, rgba(0,0,0,0) 50%, var(--tert1));
    border-radius: 50%;
}
#initial-info {
    position: absolute;
    bottom: 1%;
    left: 57%;
    letter-spacing: .2rem;
    opacity: 0;
    transition: opacity .5s ease-out;
}
nav {
    height: 10vh;
}
nav ul {
    width: 100%;
    height: 100%;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
}
nav ul li a{
    background-color: var(--prim);
    border-bottom: 1px solid var(--tert1);
    border-radius: 1rem;
    text-decoration: none;
    font-size: .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 170px;
    min-height: 30px;
    letter-spacing: 0;
    transition: letter-spacing .2s linear;
}
svg {
    transform: translateY(1px) scale(1);
    fill: #ddd;
    font-size: 1.2rem;
    margin-right: 5%;
    transition: transform .2s linear;
}
a:hover {
    letter-spacing: 2px;
}
a:hover svg {
    transform: translateY(1px) scale(1.5);
}
a:focus {
    letter-spacing: 2px;
    outline: none;
    
}
a:focus svg {
    transform: translateY(1px) scale(1.5);
}
section.container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
main {
    padding-top: 150px;
}
.picture-3d-wrapper {
    width:30%;
    height: 400px;
    background: var(--secon);
    border-radius: .2rem;
    margin: 0 auto;
}
.card {
    width: 60%;
    border-top-left-radius: .2rem;
    border-bottom-left-radius: .2rem;
    background-color: var(--secon);
}
.card-headline {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100px;
    padding-left: 50px;
}
.card-headline h1 {
    width: 100%;
}
.card-headline svg {
    margin-right: 3%;
    font-size: 4rem;
}
.card-body {
    padding-left: 50px;
}