
/* changes the orange word in the header */
@keyframes wordChanger {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    10% {
        transform: translateY(-70%);
        opacity: 0;
    }
    12% {
        transform: translateY(70%);
        opacity: 0;
    }
    30% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* #planning-phase: layout window: toggles the positions of subframes */
@keyframes lFrame-header {
    0% {
        top: 1%;
        left: 1%;
        width: 98%;
        height: 25%;
    }
    20% {
        top: 1%;
        left: 1%;
        width: 98%;
        height: 25%;
    }
    25% {
        top: 1%;
        left: 1%;
        width: 98%;
        height: 25%;
    }
    45% {
        top: 1%;
        left: 1%;
        width: 98%;
        height: 25%;
    }
    50% {
        top: 1%;
        left: 1%;
        width: 98%;
        height: 25%;
    }
    70% {
        top: 1%;
        left: 1%;
        width: 98%;
        height: 25%;
    }
    75% {
        top: 1%;
        left: 1%;
        width: 98%;
        height: 15%;
    }
    95% {
        top: 1%;
        left: 1%;
        width: 98%;
        height: 15%;
    }
    100% {
        top: 1%;
        left: 1%;
        width: 98%;
        height: 25%;
    }
}
@keyframes lFrame-nav1 {
    0% {
        bottom: 1%;
        left: 1%;
        width: 30%;
        height: 72%;
    }
    20% {
        bottom: 1%;
        left: 1%;
        width: 30%;
        height: 72%;
    }
    25% {
        bottom: 1%;
        left: 1%;
        width: 15%;
        height: 72%;
    }
    45% {
        bottom: 1%;
        left: 1%;
        width: 15%;
        height: 72%;
    }
    50% {
        bottom: 1%;
        left: 1%;
        width: 15%;
        height: 72%;
    }
    70% {
        bottom: 1%;
        left: 1%;
        width: 15%;
        height: 72%;
    }
    75% {
        bottom: 74%;
        left: 1%;
        width: 98%;
        height: 9%;
    }
    95% {
        bottom: 74%;
        left: 1%;
        width: 98%;
        height: 9%;
    }
    100% {
        bottom: 1%;
        left: 1%;
        width: 30%;
        height: 72%;
    }
}
@keyframes lFrame-nav2 {
    0% {
        bottom: 1%;
        left: 1%;
        width: 30%;
        height: 72%;
    }
    20% {
        bottom: 1%;
        left: 1%;
        width: 30%;
        height: 72%;
    }
    25% {
        bottom: 1%;
        left: 84%;
        width: 15%;
        height: 72%;
    }
    45% {
        bottom: 1%;
        left: 84%;
        width: 15%;
        height: 72%;
    }
    50% {
        bottom: 1%;
        left: 84%;
        width: 15%;
        height: 72%;
    }
    70% {
        bottom: 1%;
        left: 84%;
        width: 15%;
        height: 72%;
    }
    75% {
        bottom: 74%;
        left: 1%;
        width: 98%;
        height: 9%;
    }
    95% {
        bottom: 74%;
        left: 1%;
        width: 98%;
        height: 9%;
    }
    100% {
        bottom: 1%;
        left: 1%;
        width: 30%;
        height: 72%;
    }
}
@keyframes lFrame-main {
    0% {
        bottom: 1%;
        right: 1%;
        width: 67%;
        height: 72%;
    }
    20% {
        bottom: 1%;
        right: 1%;
        width: 67%;
        height: 72%;
    }
    25% {
        bottom: 1%;
        right: 16.5%;
        width: 67%;
        height: 72%;
    }
    45% {
        bottom: 1%;
        right: 16.5%;
        width: 67%;
        height: 72%;
    }
    50% {
        bottom: 1%;
        right: 16.5%;
        width: 67%;
        height: 72%;
    }
    70% {
        bottom: 1%;
        right: 16.5%;
        width: 67%;
        height: 72%;
    }
    75% {
        bottom: 1%;
        right: 1%;
        width: 98%;
        height: 72%;
    }
    95% {
        bottom: 1%;
        right: 1%;
        width: 98%;
        height: 72%;
    }
    100% {
        bottom: 1%;
        right: 1%;
        width: 67%;
        height: 72%;
    }
}
/* #planning-phase: colors window: toggles the positions of subframes */
@keyframes cFrame-bg {
    0% {
        background-color: var(--palette1prim);
    }
    30% {
        background-color: var(--palette1prim);
    }
    33% {
        background-color: var(--palette2prim);
    }
    63% {
        background-color: var(--palette2prim);
    }
    66% {
        background-color: var(--palette3prim);
    }
    97% {
        background-color: var(--palette3prim);
    }
    100% {
        background-color: var(--palette1prim);
    }
}
@keyframes cFrame-nav {
    0% {
        background-color: var(--palette1second);
        box-shadow: 0 3px 10px -5px var(--palette1shadow);
    }
    30% {
        background-color: var(--palette1second);
        box-shadow: 0 3px 10px -5px var(--palette1shadow);
    }
    33% {
        background-color: var(--palette2second);
        box-shadow: 0 3px 10px -5px var(--palette2shadow);
    }
    63% {
        background-color: var(--palette2second);
        box-shadow: 0 3px 10px -5px var(--palette2shadow);
    }
    66% {
        background-color: var(--palette3second);
        box-shadow: 0 3px 10px -5px var(--palette3shadow);
    }
    97% {
        background-color: var(--palette3second);
        box-shadow: 0 3px 10px -5px var(--palette3shadow);
    }
    100% {
        background-color: var(--palette1second);
        box-shadow: 0 3px 10px -5px var(--palette1shadow);
    }
}
@keyframes cFrame-links {
    0% {
        background-color: none;
        border: 1px solid var(--palette1links);
        color: var(--palette1links);
    }
    30% {
        background-color: none;
        border: 1px solid var(--palette1links);
        color: var(--palette1links);
    }
    33% {
        background-color: none;
        border: 1px solid var(--palette2links);
        color: var(--palette2links);
    }
    63% {
        background-color: none;
        border: 1px solid var(--palette2links);
        color: var(--palette2links);
    }
    66% {
        background-color: none;
        border: 1px solid var(--palette3links);
        color: var(--palette3links);
    }
    97% {
        background-color: none;
        border: 1px solid var(--palette3links);
        color: var(--palette3links);
    }
    100% {
        background-color: none;
        border: 1px solid var(--palette1links);
        color: var(--palette1links);
    }
}
@keyframes cFrame-items {
    0% {
        background-color: var(--palette1accent);
        box-shadow: 5px 5px 10px -5px var(--palette1shadow);
    }
    30% {
        background-color: var(--palette1accent);
        box-shadow: 5px 5px 10px -5px var(--palette1shadow);
    }
    33% {
        background-color: var(--palette2accent);
        box-shadow: 5px 5px 10px -5px var(--palette2shadow);
    }
    63% {
        background-color: var(--palette2accent);
        box-shadow: 5px 5px 10px -5px var(--palette2shadow);
    }
    66% {
        background-color: var(--palette3accent);
        box-shadow: 5px 5px 10px -5px var(--palette3shadow);
    }
    97% {
        background-color: var(--palette3accent);
        box-shadow: 5px 5px 10px -5px var(--palette3shadow);
    }
    100% {
        background-color: var(--palette1accent);
        box-shadow: 5px 5px 10px -5px var(--palette1shadow);
    }
}
